.large-container{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

h1{
    color:#fff;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.photo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin:50px;
    z-index: 0;
    
}

.photo-div img{
   height: 500px;
   width: 100%;
}



.first-row{
    z-index: 1;
}