.large-container{
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 2fr ;
    margin-top: 0px;
}

h1{
    color:black;
    
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
}
h2.rating{
    color:black;
    
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.h-container{
    border-radius: 10px;
}

.photo-div img{
    position: relative;
    max-height: 500px;
    min-width: 100%;
}

.reviews{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.details p{
    margin: 10px;
}

/* .review-review{
    padding: 20px;
    border: 1px solid black;
} */

.more-details {
    border-bottom: 1px solid black;
    margin-top: 50px;
    font-weight: normal;
}

.reviews button {
    width: 100px;
       
    
}