.new-review-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    padding: 25px;
}

.new-review-container select{
    height: 40px;
    width:500px; 
}

.new-review-container textarea{
    height: 200px;
    width: 500px;
}