 .large-container-login{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 200px;
    
}

.form-container {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    
}

.form-container input{
    width: 300px;
}

.form-container button{
    width: 145px;
}

.buttons-login{
    display: flex;
    justify-content: space-between;
}

button{
    color: #fff;
    background: #d32323;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.3125em;
    border: none;
    width: 200px;
    margin: 5px;
}
/*
.container2{
    margin:20px;
}

img{
    height: auto;
    width: auto;
    position: fixed;
}

.form-container{
    display: flex;
    width: 400px;
    flex-direction:row-reverse;
    align-items: center;
    
}

.buttons-login{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.buttons-login > button{
    width: 100px;
    
}

.login-form{
    position: relative;
    float: right;
    
} */