.large-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
}


form{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

input{
    margin: 5px;
    width: 190px;
}

/* button{
    color: #fff;
    background: #d32323;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 1.3125em;
    border: none;
    width: 200px;
    margin: 5px;
} */

.container2{
    margin:20px;
}

img{
    height: auto;
    width: auto;
    position: fixed;
}

/* #navbar {
    list-style-type: none;
    visibility: hidden;
    
} */